# Python
__pycache__/
*.py[cod]
venv/
*.env
.env
.venv
*.log

# Node
node_modules/
.next/
out/
.env.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Models
models/*.pkl